/* custom eu */
.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}




.card-footer {
	padding: .75rem 1.25rem;
	background-color: rgba(0, 0, 0, .03);
	border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
	border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px)
}

.card-header-tabs {
	margin-right: -.625rem;
	margin-bottom: -.75rem;
	margin-left: -.625rem;
	border-bottom: 0
}

.card-header-pills {
	margin-right: -.625rem;
	margin-left: -.625rem
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem
}

.card-img {
	width: 100%;
	border-radius: calc(0.25rem - 1px)
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px)
}

.card-img-bottom {
	width: 100%;
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px)
}

.card-deck {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.card-deck .card {
	margin-bottom: 15px
}

@media(min-width:576px) {
	.card-deck {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin-right: -15px;
		margin-left: -15px
	}
	.card-deck .card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 0%;
		flex: 1 0 0%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px
	}
}


button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

a.close.disabled {
	pointer-events: none
}

.bg-light {
    background-color: #f8f9fa!important;
}

.mr-2, .mx-2 {
    margin-right: .5rem!important;
}

.m-auto {
	margin: auto!important
}

.mt-auto,
.my-auto {
	margin-top: auto!important
}

.mr-auto,
.mx-auto {
	margin-right: auto!important
}

.mb-auto,
.my-auto {
	margin-bottom: auto!important
}

.ml-auto,
.mx-auto {
	margin-left: auto!important
}


/*
.heading-section {
	font-size: 28px;
	color: #000
}

.heading-section small {
	font-size: 18px
}
*/

a {
	text-decoration:none;
}

span{
	text-decoration:none;
}

#sidebar {
	min-width: 270px;
	max-width: 270px;
	background: #3e64ff;
	color: #fff;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

#sidebar.active {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
	text-decoration:none !important;
}

#sidebar.active ul.components li {
	font-size: 14px
}

#sidebar.active ul.components li a {
	padding: 10px 0;
	text-decoration:none !important;

}

#sidebar.active ul.components li a span {
	margin-right: 0;
	display: block;
	font-size: 24px;
	text-decoration:none !important;
}

#sidebar.active .logo {
	padding: 10px 0;
	text-decoration:none !important;
}

#sidebar.active .footer {
	display: none
}

#sidebar .logo {
	display: block;
	color: #fff;
	font-weight: 900;
	padding: 10px 30px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

@media(prefers-reduced-motion:reduce) {
	#sidebar .logo {
		-webkit-transition: none;
		-o-transition: none;
		transition: none
	}
}

#sidebar ul.components {
	padding: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

@media(prefers-reduced-motion:reduce) {
	#sidebar ul.components {
		-webkit-transition: none;
		-o-transition: none;
		transition: none
	}
}

#sidebar ul li {
	font-size: 16px
}

#sidebar ul li>ul {
	margin-left: 10px
}

#sidebar ul li>ul li {
	font-size: 14px
}

#sidebar ul li a {
	padding: 10px 30px;
	display: block;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, .1)
}

#sidebar ul li a span {
	margin-right: 15px
}

@media(max-width:991.98px) {
	#sidebar ul li a span {
		display: block
	}
}

#sidebar ul li a:hover {
	color: #fff
}

#sidebar ul li.active>a {
	background: 0 0;
	color: #fff
}

#sidebar a.logo {
	text-decoration:none !important;
}

#sidebar ul.components li a {
	text-decoration:none !important;

}

#sidebar.active a.logo {
	text-decoration:none !important;
}


@media(max-width:991.98px) {
	#sidebar {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px!important
	}
	#sidebar.active {
		margin-left: 0!important
	}
}


.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

@media(max-width:991.98px) {
	#sidebarCollapse span {
		display: none
	}
}

.footer {
	padding: 0 30px
}

@media(max-width:991.98px) {
	.footer {
		display: none
	}
}

#content {
	width: 100%;
	padding: 0;
	min-height: 100vh;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.btn.btn-primary {
	background: #3e64ff;
	border-color: #3e64ff
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background: #3e64ff!important;
	border-color: #3e64ff!important
}